@charset "UTF-8";

* {
  background-color: #fdfcf5;
  margin: auto;
  padding: 0;
  border-width: 0;
  text-align: center;
  /* border: 1px solid black; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #444444;
}

.clear {
  clear: both;
}

body {
  min-width: 466px;
  max-width: 466px;
}

div.logo_box {
  margin-top: 50px;
  margin-bottom: 30px;
}

div.logo_box > img {
  width: 200px;
  height: 140px;
}

div.sns-login {
  margin-top: 20px;
}

img#naver_login_img,
img#kakao_login_img {
  width: 200px;
}

div.login_info {
  margin-top: 20px;
}
