body {
  font-family: "Calibri", sans-serif !important;
  font-family: "nanumbarungothic" !important;
  font-size: 16px;
} /*
div {
  border: 1px solid black;
} */

div.comment-body {
  margin: auto;
}

.comment-options {
  text-align: center;
}
.user_info {
  margin-top: 0px;
  height: 80px;
}

.card-no-border .card {
  border: 0px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.comment-widgets {
  background: rgba(0, 0, 0, 0.02);
  cursor: pointer;
}

.comment-widgets {
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
}

div.profile-image {
  width: 80px;
  height: 80px;
  margin: 0px 10px;
}
div.comment-info {
  padding: 0px;
}
div.user_info {
  width: 150px;
  height: 30px;
}

.label {
  padding: 3px 10px;
  line-height: 13px;
  color: #ffffff;
  font-weight: 400;
  border-radius: 4px;
  font-size: 75%;
}

.round img {
  border-radius: 100%;
}

.label-info {
  background-color: #1976d2;
}

.label-success {
  background-color: green;
}

.label-danger {
  background-color: #ef5350;
}

.action-icons a {
  padding-left: 7px;
  vertical-align: middle;
  color: #99abb4;
}

.action-icons a:hover {
  color: #1976d2;
}

.rating {
  display: flex;
  width: 115px;
}

.rating > input {
  display: none;
  width: 30px;
}

.rating > label {
  position: relative;
  width: 19px;
  font-size: 25px;
  color: #ff0000;
  cursor: pointer;
  margin-right: 5px;
}

.rating > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}

.rating > input:checked ~ label:before {
  opacity: 1;
}

.rating:hover > input:checked ~ label:before {
  opacity: 0.4;
}

.user_rating,
.write_date {
  padding-left: 5px;
}

.comment-body:hover {
  visibility: hidden;
}
.comment-body:hover {
  visibility: visible;
}

.comment-text {
  padding-right: 5px;
}
