@charset "UTF-8";

* {
  margin: 0 auto;
  padding: 0;
  border-width: 0;
  font-size:1rem;
}

/* test 단 */

div#rowa {
  background-color: red;
}
div#rowb {
  background-color: yellow;
}
div#rowc {
  background-color: green;
}
div#rowd {
  background-color: grey;
}
/* test 끝 */


div {
  border: 1px solid black; 	
} 

div.magazine-item {
	width : 600px;
	height : 300px;
	margin : 10px auto;
	padding : 5px;	
}

div.magazine-item img {
	width : 100%;
	height : 100%;
	display : cover;
	border-radius :10px;
}

img#magazine-top {
	margin-left : 100px;
	display : block;
}

.magazine-list-body {
    border-radius : 20px;
	border : 3px solid #ffc107;
	height : 250px;
}  

div.magazine-list-no {
	font-weight : 800;
	vertical-align : middle;
	font-size : 2rem;
	line-height: 250px;
	text-align : center;

}

div.magazine-list-thumbnail {
  width : 300px;
  height: 250px;

}

div.magazine-list-thumbnail img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit :cover;
  padding
}

div.magazine-list-info {
	margin : 0px;
}
div.magazine-shop-info text {
		text-algin : left !important;
} 

.shop-name {
	font-size : 2rem;
	font-weight : 800;
	margin : 0;
	
}

.shop-category {
	font-size : 1.4rem;
	font-weight : 600;
	text-decoration: underline;
	padding-top : 15px;
}

.shop-tags {
	font-size : 1.2rem;
	font-weight : 400;
}