@charset "UTF-8";

* {
  margin: 0 auto;
  padding: 0;
  border-width: 0;
  text-align: center;
  font-family: 'IBM Plex Sans KR', sans-serif;
  /*border: 1px solid black; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #444444;
  -webkit-text-decorations-in-effect: none;
}

.clear {
  clear: both;
}

ul,
li,
a {
  background-color: transparent;
}
.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #444444;
  text-align: center;
  min-width: 1200px;
  flex-wrap: nowrap;
}

body::-webkit-scrollbar {
  width: 15px; /* 스크롤바의 너비 */
  border-rarius: 5px;
}

body::-webkit-scrollbar-thumb {
  height: 5px; /* 스크롤바의 길이 */
  background: #ffffff /* 스크롤바의 색상 */

  border-radius: 10px;
}
/* 스크롤바 뒷 배경 색상 */
/*
body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  
} 
div.body_wrap {
    text-align:center;
} */

/* 스크롤바에 마우스 호버 */
/*
body::-webkit-scrollbar-thumb:hover {
    background:lightgrey;
} */

/* test 단 */

div#rowa {
  background-color: red;
}
div#rowb {
  background-color: yellow;
}
div#rowc {
  background-color: green;
}
div#rowd {
  background-color: grey;
}
/* test 끝 */

div#main-menu-body {
	flex-wrap: nowrap;
}

div.logo {
  margin: 0px 20px 0px 0px;
  min-width:200px;
}

div.header-menu {
  max-width: 1030px;
}

div#navbarColor03 {
	margin-right : 0px !important;
}

.navbar-mainmenu {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  color: var(--bs-navbar-brand-color);
  white-space: nowrap;
  --bs-navbar-active-color: #fff;
  --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
  min-width:1000px;
  border-radius:10px;
}

a.nav-link {
	font-size:1.2rem;
	font-weight:bold;
}	

a.nav-link:hover {
	color:#fff;
}

input.form-control {
	width : 300px;
	margin-right : 30px;
}

div.login-button {
  padding-right: 50px;
}

div.main img {
  width: 100%;
  height: 100%;
}

div.map-main {
  height: 400px;
}

.title {
  font-weight: 500;
  font-size: 1rem;
}
.title-bullet {
  width: 10px;
  height: 10px;
  border-radius: 2px;
  margin: auto;
}

div#title {
  margin-left: -15px;
}

.people-group,
.gender-group,
.category-group,
.convenience-group {
  min-width: 150px;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
}
.people-group > li,
.gender-group > li,
.category-group > li,
.convenience-group > li {
  width: 75px;
}

.login-button {
  text-align: right;
}

.btn-log {
	width:90px;
}

/*
div.curation-body > div {
  border: 1px solid black;
} */


img#team-vita500 {
  width: 100%;
  height: 100%;
}

.nav-item a:hover{
  color: #fff;
}

/*
.div {
	border :1px border solid;
} */

.navbar {
	border-radius : 10px;
}

 