body {
	font-size: 1rem;
	min-width: 600px;
	magin: 0;
}

.review_title {
	font-size: 2rem;
	font-weight: bold;
	text-align: left !important;
	display: flex;
}

.review-update-body {
	margin : auto;
}
div#comment-area {
	margin: 0;
	padding: 0;
}

div.card {
	min-width: 550px;
}

div.card#comment-body, div.profile-body {
	min-width: 550px;
}

div.comment-rating {
	max-height: 45px;
	margin: auto;
}

.title>p {
	margin: 0px;
}

textarea {
	min-width: 550px;
	text-align: left;
}

.form .comment-options {
	text-align: center;
}

input {
	display: none;
}

button#comment-send {
	margin-left: 20px;
}

input#formFile {
	max-width: 400px;
}

.user_info {
	margin-top: 0px;
	height: 80px;
}

.card-no-border .card {
	border: 0px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.comment-widgets {
	background: rgba(0, 0, 0, 0.02);
	cursor: pointer;
	border-bottom: 1px solid rgba(120, 130, 140, 0.13);
	max-height : 280px;
	overflow:hidden;
}

div.user-rating {
	font-size: 20px;
}

div#user-stars {
	text-align: left;
}

div#review-rating {
	text-align: left;
}

div.comment-options {
	max-width: 120px;
}

div.comment-options>p {
	font-size: 18px;
	color: #ff4136;
	font-style: bold;
}

div.profile {
	margin: 0px;
}

div.profile-image {
	width: 80px;
	height: 80px;
	margin: 0px 10px;
}

div.comment-info {
	padding: 0px;
	margin: 0px;
}

div.comment-inside, div.comment-info, div.user-info {
	min-width: 150px;
	margin: 0px;
}

div.user_info {
	min-width: 50px;
	height: 30px;
}

.label#stars {
	padding: 3px 10px;
	line-height: 13px;
	color: #ffffff;
	font-weight: 400;
	border-radius: 4px;
	font-size: 120%;
}

.round img {
	border-radius: 100%;
}

div.comment-tag {
	min-width: 150px;
	margin: 0px;
}

.action-icons a, .btn-group i {
	padding-left: 7px;
	vertical-align: middle;
	color: #99abb4;
}

.action-icons a#edit:hover {
	color: #158cba;
}

i.fa-heart:hover {
	color: #ff4136;
}

.rating {
	display: flex;
	width: 150px;
	min-width: 120px;
	margin-top: -4px;
}

.rating>input {
	display: none;
	width: 30px;
}

.rating>label {
	position: relative;
	width: 19px;
	font-size: 25px;
	color: #ff0000;
	cursor: pointer;
	margin-right: 5px;
}

.rating>label::before {
	content: "\2605";
	position: absolute;
	opacity: 0;
}

.rating>label:hover:before, .rating>label:hover ~ label:before {
	opacity: 1 !important;
}

.rating>input:checked ~ label:before {
	opacity: 1;
}

.rating:hover>input:checked ~ label:before {
	opacity: 0.4;
}

.user_rating, .write_date {
	padding-left: 5px;
}

h4#user_nickname {
	text-align: center;
}

.comment-body:hover {
	visibility: hidden;
}

.comment-body:hover {
	visibility: visible;
}

.comment-text {
	padding-right: 0 5px;
	margin: 0px;
	text-align: left !important;
}

div.comment-text p {
	text-align: left !important;
	margin-left: 5px;
	height: 190px;
	overflow: hidden;
}

div.image-container {
	text-align: right;
}

div.review-images {
	margin: 0px;
	width: 250px;
	display: inline-block;
	text-align: right;
}

div.review-images img {
	object-fit: contain;
	width: 240px;
	height: 100%;
	object-fit: cover;
	border: 2px solid black;
}

div.comment-tag {
	text-align: center;
}

div.bookmark>input {
	display: none;
}

div.bookmark>label {
	position: relative;
	cursor: pointer;
}

div.bookmark>label::before {
	position: absolute;
	opacity: 0;
}

div.bookmark>label:hover:before, div.bookmark>label:hover ~ label:before
	{
	opacity: 1 !important;
}

div.bookmark>input:checked ~ label:before {
	opacity: 1;
}

div.bookmark>input:checked ~ label:before {
	opacity: 0.4;
}

div.bookmark>label {
	margin: 0;
	padding: 0;
}

#review-rating {
	text-align: left;
}

.btn { -
	-bs-btn-color: #ff4136; -
	-bs-btn-bg: transparent; -
	-bs-btn-active-color: #ff4136; -
	-bs-btn-active-bg: #fff; -
	-bs-btn-active-border-color: #fff;
	border: none;
}

i{
	background-color:transparent;
}

p.ms-1 {
	margin : 0px;
}