<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="seoulfoodsample">

<select id="list" parameterType="dto.DetailpageDTO"
		resultType="dto.DetailpageDTO">
	select *
	from seoulfoodsample
	</select>

	<select id="list_match" parameterType="dto.DetailpageDTO"
		resultType="dto.DetailpageDTO">
		SELECT *
		FROM seoulfoodsample
		WHERE res_num = #{res_num_data, jdbcType=VARCHAR}  
	</select>
</mapper>


    