@charset "UTF-8";

* {
  background-color: #fdfcf5;
  margin: auto;
  padding: 0;
  border-width: 0;
  text-align: center;
  min-width: 1200px;
  max-width: 1600px;
  border: 1px solid black;
}

div.wrap,
div#map {
  width: 800px;
  width: 350px;
  border: 1px solid black;
}
