<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="curation">

	<!-- 정보 찾기 -->
	<select id="matchCheck" parameterType="Int"
		resultType="dto.CurationDTO">
		select * from (
			select * from SEOULFOODSTORE
			order by DBMS_RANDOM.RANDOM 
		) where FOOD_CATEGORY_TAG=#{randomTagNo, jdbcType=VARCHAR}
	</select>


	<select id="loginMatchCheck" parameterType="java.util.HashMap"
		resultType="dto.CurationDTO">
		
		select * from (
			select * from SEOULFOODSTORE
			order by DBMS_RANDOM.RANDOM 
		) where FOOD_CATEGORY_TAG = #{number, jdbcType=VARCHAR} and SUBSTR(TAG_AGE,1, 2) 
		= #{age, jdbcType=VARCHAR} and TAG_GENDER = #{gender,
		jdbcType=VARCHAR}
	</select>


	<select id="magazineCheck" parameterType="Int"
		resultType="dto.CurationDTO">
		select * from SEOULFOODSTORE
		where FOOD_CATEGORY_TAG=#{number, jdbcType=VARCHAR}
	</select>

</mapper>