<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lib">
	<select id="lib_countAll" parameterType="string" resultType="int">
	   SELECT count(*) FROM SEOULFOODSAMPLE
	   WHERE area Like '%' || #{data} || '%'
	</select>
	
	<select id="lib_list" parameterType="java.util.HashMap" resultType="dto.LibmapDTO">
	  <![CDATA[
		  select b.* from(
		   select rownum as rowm, a.* from(
		       select * from seoulfoodsample
		       where foodstore_id like '%' || #{keyword} || '%' or foodcategory_code like '%' || #{keyword} || '%' or foodcategory like '%' || #{keyword} || '%' 
		       or area like '%' || #{keyword} || '%' or foodtype like '%' || #{keyword} || '%')a )b
		 where b.rowm>=#{startpage} and b.rowm<=#{endpage}   
			 ]]> 
	</select>
	
</mapper>   













 
 
 
 
 
 
    